.metadata
.recommenders
.loadpath
bin/
*.bak
*.tmp
local.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gradle

### java ###
.class
HELP.md